## Ćwiczenie 1

Napisz funkcję o nazwie check_range, która sprawdza, czy liczba znajduje się w podanym zakresie (zawiera zarówno niski *__i__* wysoki). <br>
Jeśli tak, zwróć „x jest między y a z”. <br>
Jeśli tak nie jest, zwróć „x NIE jest między y a z”. <br>
Gdzie:
- x to liczba
- y jest dolną granicą
- z to górna granica

In [ ]:
def check_range(x,y,z):
  if z>x>y:
    print(f"{x} jest między {y} a {z}")
  else:
    print(f"{x} nie jest między {y} a {z}")
  return

In [ ]:
check_range(34, 9, 228)

34 jest między 9 a 228

In [ ]:
check_range(7, 2, 5)

7 nie jest między 2 a 5

Napisz funkcję o nazwie bool_range, która robi to samo, ale zwraca tylko wartość logiczną.

In [ ]:
def bool_range(x,y,z):
  if z>x>y:
    return True
  else:
    return False

In [ ]:
bool_range(7, 5, 20)

True

In [ ]:
bool_range(67, 22, 25)

False

## Ćwiczenie 2

Napisz funkcję o nazwie unique_list, która pobiera listę i zwraca listę zawierającą tylko unikalne elementy danych wejściowych.

In [2]:
def unique_list(my_list):
  my_list=set(my_list)
  return list(my_list)

In [3]:
my_list = [1,3,5,6,4,3,2,3,3,4,3,4,5,6,6,4,3,2,12,3,5,63,4,5,3,3,2]

unique_list(my_list)

[1, 2, 3, 4, 5, 6, 12, 63]

Znajdź inny sposób wykonania tej samej operacji bez definiowania funkcji.

In [4]:
unique_list = [x for i, x in enumerate(my_list) if i == my_list.index(x)]

print(unique_list)

[1, 3, 5, 6, 4, 2, 12, 63]

## Ćwiczenie 3

Napisz funkcję o nazwie objętość_kuli, która przyjmuje promień kuli i zwraca jej objętość zaokrągloną do 2 dp. (Google wzór na objętość kuli, użyj pi = 3,14)

In [ ]:
def volume_of_sphere(r):
  pi=3.14
  x=(4/3)*pi*(r**3)
  return round(x,2)

In [ ]:
volume_of_sphere(2)

33.49

## Rekursja

- Funkcja rekurencyjna to funkcja, która wywołuje siebie w ramach swojej definicji.
- Na początku może to być trudne do zrozumienia, ale pomyśl o tym jako o przełamaniu dużego problemu w wielokrotne robienie małego problemu.
- Oznacza to, że złożony problem można uprościć, powtarzając przy każdym powtórzeniu prostszą i prostszą formę tego samego problemu.
- Musimy jednak podać „najprostszą formę” funkcji, w której funkcja się zatrzymuje, w przeciwnym razie będzie się powtarzać w nieskończoność i wygeneruje błąd.
- Nazywamy tę „najprostszą formę” przypadkiem podstawowym.
- Najlepiej ilustruje to przykład:

In [ ]:
# Funkcja, która przyjmuje jako wejście liczbę początkową do odliczania
def countdown(n):
    
    # przypadek podstawowy: w tym miejscu funkcja ostatecznie się zatrzyma
    if n == 0:
        print(0)
        
    # tutaj redukujemy problem do prostszej wersji
    else:
        
        #wypisujemy numer odliczania
        print(n)
        
        # powtarzamy funkcję z następną najmniejszą liczbą
        countdown(n-1)
   
        

countdown(5)

5
4
3
2
1
0

[1, 3, 5, 6, 4, 2, 12, 63]

## Ćwiczenie 4

Zdefiniuj funkcję rekurencyjną o nazwie num_fact, która zwraca silnię podanej liczby.

In [ ]:
def num_fact(number):
  liczby = []
  for i in range(number):
    i*(i-1)
      continue
    elif  :
      x=i
      liczby.append(x)
    else: 
      x= i*(i-1)
      liczby.append(x)
      print(x,i)
  return

In [ ]:
num_fact(10)

2 2
6 3
12 4
20 5
30 6
42 7
56 8
72 9

[1, 2, 6, 12, 20, 30, 42, 56, 72]

In [ ]:
1*2*3*4*5*6*7*8*9*10

3628800

In [ ]:
for i in range(10):
  if i == 0:
      continue
  else:
      x=i*(i-1)
      print(x)


# Python code to demonstrate naive method
# to compute factorial
n = 23
fact = 1

for i in range(10):
  if i == 0:
      continue
  else:
	fact = fact * i
	print(fact)
print ("The factorial of 23 is : ",end="")
print (fact)

TabError: ignored